# macOS
.DS_Store

# Python cache / build artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Logs
logs/
*.log

# Training outputs / temp

# Custom project directories to ignore
ckpt/
data/
saved/
cache/
